.App {
    font-family: 'Poppins', sans-serif;
    background-color: #0A0A0A;
    padding-top: 90px; /* Increased padding to account for fixed navbar height */
  }
  
  main {
    min-height: 80vh;
  }
  
  /* Header styles for navbar container */
  /* .App-header {
    width: 100%;
    position: relative;
  } */
